@font-face {
  font-family: "iconfont"; /* Project id 2620260 */
  src: url('iconfont.woff2?t=1624075080744') format('woff2'),
       url('iconfont.woff?t=1624075080744') format('woff'),
       url('iconfont.ttf?t=1624075080744') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tubiaozhizuo--:before {
  content: "\e601";
}

.icon-index:before {
  content: "\e638";
}

.icon-dianpu:before {
  content: "\e60a";
}

.icon-wode:before {
  content: "\e606";
}

.icon-shoucang:before {
  content: "\e9ee";
}

.icon-qicheqianlian-select:before {
  content: "\e600";
}

.icon-category:before {
  content: "\e602";
}

