@font-face {
  font-family: "iconfont"; /* Project id 2620260 */
  src: url('iconfont.woff2?t=1624526118793') format('woff2'),
       url('iconfont.woff?t=1624526118793') format('woff'),
       url('iconfont.ttf?t=1624526118793') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart-small2:before {
  content: "\e634";
}

.icon-xiazaiAPP:before {
  content: "\e60f";
}

.icon-huangguan:before {
  content: "\e603";
}

.icon-jifenshangcheng1:before {
  content: "\e604";
}

.icon-wodexinxi:before {
  content: "\e707";
}

.icon-gengduo:before {
  content: "\e641";
}

.icon-shouji:before {
  content: "\e8ff";
}

.icon-duoxuankuang1:before {
  content: "\e637";
}

.icon-mg-checkbox:before {
  content: "\e62d";
}

.icon-tubiaozhizuo--:before {
  content: "\e601";
}

.icon-index:before {
  content: "\e638";
}

.icon-dianpu:before {
  content: "\e60a";
}

.icon-wode:before {
  content: "\e606";
}

.icon-shoucang:before {
  content: "\e9ee";
}

.icon-qicheqianlian-select:before {
  content: "\e600";
}

.icon-category:before {
  content: "\e602";
}

